- throw_content :for_cud do
  / TODO: Generation Error
    - if @new_thrown.nil?
      %h3= link_to 'New', url(:new_page)
      - @new_thrown = true
  = catch_content :for_cud
  %h3= cud.name
  %ul
    %li= link_to 'Show', url(:page, cud)
    %li= link_to 'Edit', url(:edit_page,  cud)
    %li= delete_button cud
